*.iml
*.log
.gradle
.idea/
.idea/easycode/
.kotlin
/.idea/
/.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/client_secret_651251696313-upk5agqs4mg2gap3kcuqmqqefco35ujh.apps.googleusercontent.com.json
